<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nutritionapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".NutritionAndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NutritionApplication"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MealActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FoodListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MealAddingActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FoodSearchActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".EntryAddingActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SingUpActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SingInActivity"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>